<div class="col-md-4"></div>
<div class="col-md-4">
  <%= nested_form_for(@order) do |f| %>
    <div class="form-group">
      <%= f.label :order_number %>
      <%= f.text_field :order_number, value: SecureRandom.hex(6), readonly: true , class: "form-control" %>
    </div>
    <div class="order_item_form ">   
      <%= f.fields_for :order_items do |order_item| %>
        <div class="com-md-6">
          <div class="form-group">
            <%= order_item.select :item_name , options_for_select(Product.all.map{|product| [product.name, product.name, "data-price": product.price, "data-sale_tax": product.sale_tax, "data-import_tax": product.import_tax]}), {prompt: "Select Item"}, class: "form-control item_name" %>
          </div>
          <div class="form-group">
            <%= order_item.number_field :quantity, placeholder: "Quantiry" ,class: "form-control quantity" %>
          </div>
          <div class="form-group">
            <%= order_item.number_field :cost, readonly: true, placeholder: "Cost" ,class: "form-control", :step => 0.0001 %>
          </div>
          <div class="form-group">
            <%= order_item.number_field :sale_tax, readonly: true, placeholder: "Sale Tax" ,class: "form-control" , :step => 0.0001 %>
          </div>
          <div class="form-group">
            <%= order_item.number_field :import_tax, readonly: true, placeholder: "Import Tax" ,class: "form-control", :step => 0.0001  %>
          </div>
        </div>
        <div class="com-md-6">
          <%= order_item.link_to_remove "Remove" , class: "danger"%>
        </div>
      <% end %>
      <%= f.link_to_add "+Add new item", :order_items , class: "float-right" %>
    </div>
    <div class="clearfix"></div>
    <%= f.submit "Create" , class: "btn btn-primary" %>
  <% end %>
</div>
<div class="col-md-4"></div>


<script type="text/javascript">
  
  $(document).on('change', ".item_name", function(){
    var id = $(this).attr('id').split('item_name')[0];
    var price = parseFloat($(this).find(':selected').data('price'));
    var sale_tax = parseFloat($(this).find(':selected').data('sale_tax'));
    var import_tax = parseFloat($(this).find(':selected').data('import_tax'));
    var quantity = parseFloat($("#"+id+"quantity").val());
    
    total_amount = price*quantity;

    // sale tax calculation
    cal_sale_tax = (total_amount*sale_tax)/100;

    // import tax calculation
    cal_import_tax = (total_amount*import_tax)/100;

    $("#"+id+"cost").val(price);

    $("#"+id+"sale_tax").val(cal_sale_tax);

    $("#"+id+"import_tax").val(cal_import_tax);
     
  })

  $(document).on("blur", ".quantity", function(){
    var id = $(this).attr('id').split('quantity')[0];
    var price = parseFloat($(this).parent().prev().find(".item_name").find(':selected').data('price'));
    var sale_tax = parseFloat($(this).parent().prev().find(".item_name").find(':selected').data('sale_tax'));
    var import_tax = parseFloat($(this).parent().prev().find(".item_name").find(':selected').data('import_tax'));
    var quantity = parseFloat($(this).val());

    total_amount = price*quantity;

    // sale tax calculation
    cal_sale_tax = (total_amount*sale_tax)/100;

    // import tax calculation
    cal_import_tax = (total_amount*import_tax)/100;

    $("#"+id+"cost").val(price);

    $("#"+id+"sale_tax").val(cal_sale_tax);

    $("#"+id+"import_tax").val(cal_import_tax);

  })
 

</script>