<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="<%= root_path %>">Retail</a>
  
   <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to "Products", products_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Orders", orders_path, class: "nav-link" %>
  </ul>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="nav navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li  class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>        
        </li>
      <% else %>
        <li  class="nav-item">
          <%= link_to('Login', new_user_session_path, class: "nav-link")  %>  
        </li>
      <% end %>
    </ul>
  </div>
</nav>